{% extends "layout.html" %}
{% block content %}
    <div id="page-wrap">
        <img src="/static/yo.jpeg" id="pic" style="float: right; margin: -30px 0 0 0; height: 200px;" />
        <div id="contact-info" class="vcard">
            <h1 class="fn">Manuel Alejandro Chang Perez</h1>
            <p>
                Telefono: <span class="tel">+502 5910-6109</span><br />
                Email: <a class="email" href="changmanuel14@gmail.com">changmanuel14@gmail.com</a>
            </p>
        </div>

        <div id="objective">
            <p>
                Soy un joven alegre, tranquilo, conservador, reservado pero con mucha confianza en si mismo y las demas personas.
                Tengo un gran deseo de aprender y me desenvuelvo bien en grupos de personas que compartan las mismas ideas y deseos de
                trabajo que yo. Comprometido con el desarrollo mental de las personas a mi alrededor, aunque suelo ser muy estricto
                en esa área.
            </p>
        </div>

        <div class="clear"></div>

        <dl>
            <dd class="clear"></dd>

            <dt>Educación</dt>
            <dd>
                <h2>Universidad Mesoamericana - Quetzaltenango, Guatemala</h2>
                <p><strong>Educación Superior:</strong> Ingenieria en Sistemas</p>

                <h2>Colegio Adventista Moises Tahay - Quetzaltenango, Guatemala</h2>
                <p><strong>Diversificado:</strong> Bachiller en Ciencias y Letras con Orientación en Computación</p>

                <h2>Colegio Cristiano Bilingue Genesis - Quetzaltenango, Guatemala</h2>
                <p><strong>Educación Primaria:</strong> Primaria y Básico</p>
            </dd>

            <dd class="clear"></dd>

            <dt style="height: 250px">Habilidades</dt>
            <dd>
                <h2>Habilidades de Oficina</h2>
                <li>Manejo y Gestión de Registros</li>
                <li>Administración de Bases de Datos</li>
                <li>Atención al Cliente</li>

                <h2>Habilidades Informáticas</h2>
                <ul>
                    <li>Manejo de Paquetes de Software de Microsoft(Word, Excel, etc)</li>
                    <li>Manejo de Sistemas Operativos basados en Windows y Linux</li>
                    <li>Programación en lenguaje C, C++, C#, Java, Python, PHP, Javascript</li>
                    <li>Manejo de Frameworks de Desarrollo tales como Laravel, Flask, Quasar</li>
                    <li>Administración de Redes Locales</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt style="height: 300px">Experiencia</dt>
            <dd>
                <h2>Universidad Galileo <br> Facultad de Ciencias de la Salud <span>Asistente Administrativo(2017-Actualidad)</span></h2>
                <ul>
                    <li>Control de Estudiantes y Pagos</li>
                    <li>Coordinación de actividades académicas</li>
                    <li>Soporte y apoyo al cliente</li>
                    <li>Compra de Suministros de Laboratorio</li>
                    <li>Apoyo a charlas informativas a estudiantes escolares</li>
                </ul>

                <h2>LRS <span>Asistente Administrativo y de Ventas - 2016</span></h2>
                <ul>
                    <li>Soporte y apoyo al cliente</li>
                    <li>Clases personalizadas del cubo de Rubik</li>
                    <li>Realización de pruebas de calidad y desempeño del producto</li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>Actividades Extracurriculares</dt>
            <dd>
                <h2>Speedcubing</h2>
                <ul>
                    <li>Miembro fundador de la Asociación Nacional de Speedcubing - Speedcubing Guatemala</li>
                    <li>Miembro activo de la Asociación Nacional de Speedcubing - Speedcubing Guatemala</li>
                    <li>Instructor para nuevos miembros de la Asociación Nacional de Speedcubing - Speedcubing Guatemala</li>
                    <li><a href="https://www.worldcubeassociation.org/persons/2015PERE29">Perfil WCA</a> </li>
                </ul>
            </dd>

            <dd class="clear"></dd>

            <dt>Referencias</dt>
            <dd>Available on request</dd>

            <dd class="clear"></dd>
        </dl>

        <div class="clear"></div>

    </div>
{% endblock %}